<script>$(function () { $("#myNavbar").find("[href='/user/login']").parent().addClass("active"); })</script>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Capstone.Web.Models.LoginModel
<br />
<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeHolder = "Email", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { placeHolder = "Password", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <button type="submit" class="btn btn-default btn-block">Log In</button>
        }

        @Html.ValidationMessage("invalid-login")

    </div>
    <div id="loginDesc">
        <p>
            <pre>
       Since this is a Demo: Here are some logins you can use...

       To login as  City Worker--- user: City@DOT.gov   password: TechElevator1!   gives you full access to all features

       To login as  Public User--- user: HL@te.com      password: TechElevator1!   limited to report and view potholes
</pre>
        </p>
    </div>
</div>